@{
    ViewBag.Title = "Home Page";
}

<!-- Slider Area Start-->
<div class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center bgImg">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-9">
                        <div class="hero__caption">
                            <img style="width: 300px; height: auto; margin-left: -15px" data-animation="fadeInUp" data-delay=".4s" class="animate__animated animate__fadeInUp animate__delay-1s" src="~/Content/assets/img/logo/iccb3.png" alt="" />
                            <span data-animation="fadeInUp" data-delay=".6s" class="animate__animated animate__fadeInUp animate__delay-1s">International Conference on Cancer Biology</span>
                            <p data-animation="fadeInUp" data-delay=".8s" class="animate__animated animate__fadeInUp animate__delay-1s">
                                Molecular Mechanisms, Genomics and Novel Therapeutics
                            </p>
                            <h6 data-animation="fadeInUp" data-delay="1s" class="animate__animated animate__fadeInUp animate__delay-1s">September 14th to 16th - 2023,
                                <br>
                                Venue: T.T.J. Auditorium, ICSR, IIT Madras, Chennai-600036.
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="say-shape">
                            <img style="width: 520px; height: auto; position: relative; bottom: 68px; left: 68px;"
                                src="~/Content/assets/img/hero/cancer_cell.png" alt="" class="say-shape1 rotateme d-none d-xl-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->
<section class="best-features-area section-padd4">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-12 col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle text-center">
                            <h2>Welcome to ICCB23</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="single-features mb-70">
                            <div class="features-caption">
                                <p class="text-center mb-5">
                                    <span>We have great pleasure in inviting you to the</span>
                                    <br />
                                    <span style="font-weight: 600; color: #a3195b; font-style: italic;">“International Conference on Cancer Biology: Molecular
                                        Mechanisms, Genomics and Novel Therapeutics”</span>
                                </p>
                                <p class="text-justify">
                                    <strong style="font-size: 18px; color: #a3195b; font-weight: 500; padding-right: 5px;">Scope:</strong>
                                    <span>There are unprecedented scientific and clinical advances
                                        in understanding , diagnosis and treatment of cancer and
                                        this conference will be highlighting the developments in
                                        managing and treating human cancers.</span>
                                </p>
                                <p class="text-justify">
                                    <strong style="font-size: 18px; color: #a3195b; font-weight: 500; padding-right: 5px;">Audience:</strong>
                                    <span>Oncologists, specialist clinicians dealing with cancer,
                                        general practitioners, epidemiologists, pathologists,
                                        medical students, cancer researchers, graduate students
                                        and post-docs, who wish to expand their knowledge of new
                                        strategies in molecular pathology and management of cancer
                                        and therapeutics.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="say-shape" style="position: absolute; bottom: -155px; left: -155px">
        <img style="width: 345px; height: 345px" src="~/Content/assets/img/shape/cell.png" alt="" class="say-shape1 rotateme d-none d-xl-block" />
    </div>
</section>
<!-- Best Features End -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img style="width: 300px; height: 250px;" src="~/Content/assets/img/logo/logo_t.gif" alt="">
            </div>
        </div>
    </div>
</div>

<style>
    .bgImg {
        background-image: url(../../Content/assets/img/hero/cancer1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .slider-area .hero__caption {
        position: relative;
        bottom: 25px;
    }
</style>
