<section id="about" class="best-features-area section-padd4 mt-4">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-12 col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle text-center animate__animated animate__fadeInUp animate__delay-1s">
                            <h2 style="font-size: 40px;">This conference intended to cover the following areas</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row animate__animated animate__fadeInUp animate__delay-2s">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <ol>
                            <li>Pathology, Genetics and Genomics of Human Cancers</li>
                            <li>Childhood cancers</li>
                            <li>Cancer Stem Cells</li>
                            <li>Cancer Vaccines</li>
                            <li>Cancer Organoids</li>
                            <li>Pharmacogenomics and Personalized Medicine</li>
                        </ol>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <ol>
                            <li>Functional Genomics</li>
                            <li>Oncogenes and Tumour Suppressor Genes</li>
                            <li>Cell Cycle and Apoptosis</li>
                            <li>RNAI</li>
                            <li>Metastases and Drug Resistance</li>
                            <li>In vivo Model Systems</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 text-center animate__animated animate__fadeInUp animate__delay-3s">
                <p style="font-weight: 600; color: #a3195b; font-style: italic;">Scintillating programs studded with leaders drawn up from the clinical side and basic research scientists have been designed. This meeting will showcase the growth potential of the explosive blending of molecular biology with standard treatment modalities.</p>
            </div>

            <div class="col-xl-12 col-lg-12 my-5">
                <div class="row animate__animated animate__fadeInUp animate__delay-4s">
                    <div class="col-lg-12 col-md-12 mb-5">
                        <div class="section-tittle text-center">
                            <h2 style="font-size: 40px; margin-bottom: 0;">Sponsors</h2>
                        </div>
                    </div>
                </div>
                <div class="row animate__animated animate__fadeInUp animate__delay-5s">
                    <h4>Company Logo</h4>
                    <!-- <div width="100%" direction="right" height="150px" class="text-center">
                        <img src="../assets/ad/1.png" style="width: 25%;" alt="" class="mr-5" />
                        <img src="../assets/ad/2.png" style="width: 25%;" alt="" class="mr-5" />
                        <img src="../assets/ad/3.png" style="width: 13%;" alt="" class="mr-5" />
                        <img src="../assets/ad/4.png" style="width: 10%;" alt="" class="mr-5" />
                        <img src="../assets/ad/5.png" style="width: 25%;" alt="" class="mr-5" />
                        <img src="../assets/ad/6.jpg" style="width: 10%;" alt="" class="mr-5" />
                        <img src="../assets/ad/7.jpg" style="width: 25%;" alt="" class="mr-5" />
                        <img src="../assets/ad/8.png" style="width: 10%;" alt="" class="mr-5" />
                        <img src="../assets/ad/9.png" style="width: 15%;" alt="" class="mr-5" />
                        <img src="../assets/ad/10.jpg" style="width: 7%;" alt="" class="mr-5" />
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="say-shape" style="position: absolute; bottom: -155px; right: -155px">
        <img style="width: 345px; height: 345px" src="~/Content/assets/img/shape/cell.png" alt="" class="say-shape1 rotateme d-none d-xl-block" />
    </div>
</section>

<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img style="width: 300px; height: 250px;" src="~/Content/assets/img/logo/logo_t.gif" alt="">
            </div>
        </div>
    </div>
</div>

<style lang="scss" scoped>
    #about ol {
        line-height: 50px;
    }

        #about ol li {
            list-style: inside;
        }
</style>
