@{
    ViewBag.Title = "Org";
}

<!-- Slider Area Start-->
<div class="slider-area org mt-2">
    <div class="slider-active">
        <!-- Pricing Card Start -->
        <div class="pricing-card-area" style="margin-top: 110px;">

            <div class="container">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-tittle mt-20 text-center">
                            <h2 style="font-size: 40px;">Organizing Committee</h2>
                        </div>
                    </div>
                </div>

                <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/1.png" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h4>Chief Patron</h4>
                                    </div>
                                    <h5>Prof. Rajesh S. Gokhale</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/2.png" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h4>Chief Patron</h4>
                                    </div>
                                    <h5>Prof. V. Kamakoti</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row animate__animated animate__fadeInLeft animate__delay-2s">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-md-6 offset-xl-3 offset-lg-3 offset-md-3">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/3.jpg" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h4>Patron</h4>
                                    </div>
                                    <h5>Prof. R. Raghunathan</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row animate__animated animate__fadeInRight animate__delay-3s">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-md-6 offset-xl-3 offset-lg-3 offset-md-3">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/4.jpg" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h5>Organizing Secretariat</h5>
                                    </div>
                                    <h5>Prof. S. Mahalingam</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row animate__animated animate__fadeInDown animate__delay-4s">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/5.png" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h5>Organizing Secretariat</h5>
                                    </div>
                                    <h5>Dr. S.G. Ramanan</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-card text-center mb-30 d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 card-top justify-content-center pb-40">
                                <img class="w-100" src="~/Content/assets/img/org/6.png" alt="">
                            </div>
                            <div class="card-bottom col-xl-6 col-lg-6 col-md-6 m-auto">
                                <ul>
                                    <div class="section-tittle text-center">
                                        <h5>Organizing Secretariat</h5>
                                    </div>
                                    <h5>Dr. Nathiya Muthalagu</h5>
                                    <!-- <h6>Director, IIT Madras.</h6> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Pricing Card End -->
    </div>
</div>
<!-- Slider Area End -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img style="width: 300px; height: 250px;" src="~/Content/assets/img/logo/logo_t.gif" alt="">
            </div>
        </div>
    </div>
</div>

<style scoped>
    .pricing-card-area .single-card .card-top {
        border-bottom: 0;
        border-right: 2px solid #450b78;
        margin-bottom: 0px;
        padding-bottom: 5px;
        padding-right: 25px;
    }

    .divider {
        border-bottom: 1px solid #450b78;
        margin: 0 0 30px 0;
    }
</style>
